/*
.placeholder-w {
	margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 10%;
}*/

.placeholder-one {
    width: 310px;
    height: 460px;
    padding-left: 45px;
    float: left;
}

.geometric-pant {
	width: 310px;
    height: 460px;
    padding-left: 8%;
    float: left;
    position: relative;
    bottom: 15px;

}

.brush-stroke {
	width: 310px;
    height: 460px;
    padding-left: 8%;
    position: relative;
    bottom: 15px;
}

.list-text-one {
	width: 480px;
	list-style-type: none;
	height: 0;
	padding-left: 80px;
	padding-top: 480px;
}

.list-text-two {
	color: #b8b8b8;
	width: 300px;
    padding-top: 30px;
    padding-left: 140px;
    list-style: none;
    font-family:Verdana;
}

.button-radius {
	border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 160px;
    bottom: 13px;
}

.button-radius-one {
    border: 3px solid #b8b8b8;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #b8b8b8;
    list-style-type: none;
    position: relative;
    bottom: 14px;
    right: 38px;
}

.button-radius-two {
	border: 3px solid #190594;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #190594;
    list-style-type: none;
    position: relative;
    bottom: 14px;
    right: 38px;
}

.button-radius-three {
	border: 3px solid #040407;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #040407;
    list-style-type: none;
    position: relative;
    bottom: 14px;
    right: 38px;
}

.button-radius-four {
	border: 3px solid #F23640;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #F23640;
    list-style: none;
    position: relative;
    bottom: 14px;
    right: 38px;
}

.button-radius-five {
	border: 3px solid #FEE1F8;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #FEE1F8;
    list-style: none;
    position: relative;
    bottom: 14px;
    right: 38px;
}

.button-list {
    left: 190px;
    bottom: 38px;
}
.button-div {
	border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 220px;
    bottom: 64px;
}



.button-content {
	position: relative;
    right: 32px;
    top: 8px;

}  

.button-div-four {
	border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 250px;
    bottom: 89px;
}

.button-div-five {
	border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 280px;
    bottom: 114.1px;
}

.first-image {
	height: 0;
}

.second-image {
    height: 0;
}

.third-image {
    position: relative; 
    list-style-type: none; 
}


.fleece-image {
	width: 310px;
    height: 460px;
    position: relative;
    top: 15px;
    left: 45px;
}

.space-dye {
    width: 310px;
    height: 460px;
    position: relative;
    left: 449px;
    bottom: 569px;
}

.geometric-list {
    list-style-type: none;
    position: relative;
    top: 463px;
    right: 207px;
}
.geometric-list-price {
    list-style-type: none;
    position: relative;
    top: 460px;
    right: 150px;
    font-weight: bold;
    color: #cccccc;
}

.slash-price {
   list-style-type: none;
    position: relative;
    top: 478px;
    right: 200px;
    text-decoration: line-through;
    color: red;
}

.content {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    top: 465px;
    list-style-type: none;
    left: 510px;
}



.block-two-content {
    position: relative;
    left: 40px;
    bottom: 10px;
}

.button { 
    border: 3px solid #B2B2B2;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #B2B2B2;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}


.out-radius1 {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 540px;
    top: 439px;
}

.button-one {
    border: 3px solid #190594;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #190594;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.out-radius2 {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 570px;
    top: 414px;
}

.button-two {
    border: 3px solid #0c0c0c;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #0c0c0c;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.out-radius3 {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 600px;
    top: 388px;
}

.button-three {
    border: 3px solid #F44336;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #F44336;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.stroke-contaner {
    position: relative;
    left: 32px;
    bottom: 8px;
}

.stroke-list {
    list-style-type: none;
    position: relative;
    left: 930px;
    bottom: 16px;
}
 .strok-price {
    position: relative;
    left: 40px;
    top: 14px;
    color: #cccccc;
    font-weight: bold;
 }

 .stroke-button1 {
    border: 3px solid #b2b2b2;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #b2b2b2;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
 }

 .stroke-radius1 {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 970px;

 }

.stroke-radius2 {
    border: 2px solid #cccccc;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 1000px;
    bottom: 25px;
}

.stroke-button2 {
    border: 3px solid #6b4f98;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #714192;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.fleece-container {
    position: relative;
    top: 10px;
    left: 30px;
}

.fleece-radius1 {
    border: 2px solid #cccccc;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 120px;

}

.fleece-button1 {
    border: 3px solid #3c0396;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #040f52;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.fleece-radius2 {
    border: 2px solid #cccccc;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 150px;
    bottom: 25px;
}

.fleece-button2 {
    border: 3px solid #cccccc;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #cccccc;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.swatch-out {
    
}

.fleece-image-list {
    position: relative;
    top: 11px;
    left: 87px;
    list-style-type: none;
}

.fleece-price {
    position: relative;
    top: 11px;
    left: 87px;
    list-style-type: none;
}

.fleece-price {
    position: relative;
    top: 17px;
    list-style-type: none;
    left: 120px;
    color: #cccccc;
    font-weight: bold;
}

.space-container {
    list-style-type: none;
    position: relative;
    left: 480px;
    bottom: 568px;
}

.space-text {

}

.space-price {
    position: relative;
    color: #cccccc;
    font-weight: bold;
    top: 8px;
    left: 55px;
}

.capri-leggings {
    width: 310px;
    height: 460px;
    position: relative;
    left: 863px;
    bottom: 1101px;
}

.capri-container {
    list-style-type: none;
    position: relative;
    left: 910px;
    bottom: 1100px;
}

.capri-price {
    position: relative;
    color: #cccccc;
    font-weight: bold;
    left: 55px;
    top: 8px;
}
.capri {
    list-style-type: none;
    position: relative;
    left: 33px;
}

.capri-radius1 {
    border: 2px solid #cccccc;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 970px;
    bottom: 1094px;
}

.capri-button1 {
    border: 3px solid #3c0396;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #040f52;
    list-style-type: none;
    position: relative;
}

.capri-radius2 {
    border: 2px solid #cccccc;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 1000px;
    bottom: 1120px;
}

.capri-button2 {
    border: 3px solid #cccccc;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #cccccc;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.placeholder-one:hover .text-view {
    opacity: 1;
}

.text-view {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 1000px
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.text-style {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


