
.placeholder-one {
    float: left;
}

.holder-image {
  width: 25%;
  padding: 20px 45px;
  display: inline-block;
}

.geometric-pant {
    padding-left: 450px;  
}

.brush-stroke {
    padding-bottom: 0;
}

.un-order-list {
    margin: 0;
    width: 80%;
    text-align: center;
}

.list-text-one {
    list-style-type: none;  
    width: 25%;
    text-align: center;
    margin-right: 0;
}

.product-price {
    width: 100%;
}

.list-text-two {
    color: #b8b8b8;
    padding-left: 130px;
    list-style: none;
    font-family: Verdana;
}

.button-radius {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 160px;
    bottom: 13px;
}

.button-radius-one {
    border: 3px solid #b8b8b8;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #b8b8b8;
    list-style-type: none;
    position: relative;
    bottom: 14px;
    right: 38px;
}

.button-radius-two {
    border: 3px solid #190594;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #190594;
    list-style-type: none;
    position: relative;
    bottom: 14px;
    right: 38px;
}

.button-radius-three {
    border: 3px solid #040407;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #040407;
    list-style-type: none;
    position: relative;
    bottom: 14px;
    right: 38px;
}

.button-radius-four {
    border: 3px solid #F23640;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #F23640;
    list-style: none;
    position: relative;
    bottom: 14px;
    right: 38px;
}

.button-radius-five {
    border: 3px solid #FEE1F8;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #FEE1F8;
    list-style: none;
    position: relative;
    bottom: 14px;
    right: 38px;
}

.button-list {
    left: 190px;
    bottom: 38px;
}
.button-div {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 220px;
    bottom: 64px;
}

.button-content {
    position: relative;
    right: 32px;
    top: 8px;
}  

.button-div-four {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 250px;
    bottom: 89px;
}

.button-div-five {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 280px;
    bottom: 114.1px;
}

.first-image {
    height: 0;
}

.second-image {
    height: 0;
}

.third-image {
    position: relative; 
    list-style-type: none; 
}


.space-dye {
    position: relative;
    left: 404px;
    bottom: 598px;
}

.geometric-list {
    list-style-type: none;
    width: 14%;
    text-align: center;
    margin-right: 0;
}

.geometric-list-price {
    list-style-type: none;
    width: 12%;
    text-align: center;
    font-weight: bold;
    color: #cccccc;
    margin-right: 0;
}

.slash-price {
   list-style-type: none;
    width: 8%;
    float: left;
    text-align: center;
    text-decoration: line-through;
    color: red;
}

.content {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    top: 465px;
    list-style-type: none;
    left: 510px;
}



.block-two-content {
    position: relative;
    left: 40px;
    bottom: 10px;
}

.button { 
    border: 3px solid #B2B2B2;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #B2B2B2;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}


.out-radius1 {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 540px;
    top: 439px;
}

.button-one {
    border: 3px solid #190594;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #190594;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.out-radius2 {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 570px;
    top: 414px;
}

.button-two {
    border: 3px solid #0c0c0c;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #0c0c0c;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.out-radius3 {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    left: 600px;
    top: 388px;
}

.button-three {
    border: 3px solid #F44336;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #F44336;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.stroke-contaner {
    position: relative;
    left: 32px;
    bottom: 8px;
}

.stroke-list {
    list-style-type: none;
    position: relative;
    left: 930px;
    bottom: 16px;
}
 .strok-price {
    color: #cccccc;
    font-weight: bold;
 }

 .stroke-button1 {
    border: 3px solid #b2b2b2;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #b2b2b2;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
 }

 .stroke-radius1 {
    border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 970px;

 }

.stroke-radius2 {
    border: 2px solid #cccccc;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 1000px;
    bottom: 25px;
}

.stroke-button2 {
    border: 3px solid #6b4f98;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #714192;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.fleece-container {
    position: relative;
    top: 10px;
    left: 30px;
}

.fleece-radius1 {
    border: 2px solid #cccccc;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 120px;

}

.fleece-button1 {
    border: 3px solid #3c0396;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #040f52;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.fleece-radius2 {
    border: 2px solid #cccccc;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 150px;
    bottom: 25px;
}

.fleece-button2 {
    border: 3px solid #cccccc;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #cccccc;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}

.swatch-out {
    
}

.fleece-image-list {
    position: relative;
    top: 11px;
    left: 87px;
    list-style-type: none;
}

.fleece-price {
    position: relative;
    top: 11px;
    left: 87px;
    list-style-type: none;
}

.fleece-price {
    position: relative;
    top: 17px;
    list-style-type: none;
    left: 120px;
    color: #cccccc;
    font-weight: bold;
}

.space-container {
    list-style-type: none;
    position: relative;
    left: 480px;
    bottom: 568px;
}


.space-price {
    position: relative;
    color: #cccccc;
    font-weight: bold;
    top: 8px;
    left: 55px;
}

.capri-leggings {
    position: relative;
    left: 814px;
    bottom: 1148px;
}

.capri-container {
    list-style-type: none;
    position: relative;
    left: 910px;
    bottom: 1100px;
}

.capri-price {
    position: relative;
    color: #cccccc;
    font-weight: bold;
    left: 55px;
    top: 8px;
}
.capri {
    list-style-type: none;
    position: relative;
    left: 33px;
}

.capri-radius1 {
    border: 2px solid #cccccc;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 970px;
    bottom: 1094px;
}

.capri-button1 {
    border: 3px solid #3c0396;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #040f52;
    list-style-type: none;
    position: relative;
}

.capri-radius2 {
    border: 2px solid #cccccc;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    background: #ffffff;
    list-style-type: none;
    position: relative;
    left: 1000px;
    bottom: 1120px;
}

.capri-button2 {
    border: 3px solid #cccccc;
    height: 12px;
    width: 12px;
    border-radius: 28px;
    background: #cccccc;
    list-style-type: none;
    position: relative;
    right: 38px;
    bottom: 14px;
}


