.container {
    position: relative;
}

.image {
    width: 100%;
}

.products {
    text-align: center;
}

.product-item {
    display: inline-block;
    width: 25%; 
    padding: 25px;
    vertical-align: top;
}

.product-name {
    font-family: Lucida Sans Unicode; 
    font-size: 14px;
    margin: 2px;
}

.product-price {
    color: #b8b8b8;
    margin: 0;
}

.slash-price {
    text-decoration: line-through;
    color: red;
    margin: 0;
    width: 100%;
    padding-right: 8px;
}

.swatches {
    margin:2px 0 0;
    padding-left: 0;
   }

.swatch-outer {
	border: 2px solid #DDDADA;
    height: 22px;
    width: 22px;
    border-radius: 28px;
    background: #ffffff;
    list-style-type: none;
    padding: 1px 1px 0 ;
    display: inline-block;
    position: relative;
}

.swatch-inner--blue {
    background: #190594;
}

.swatch-inner--black {
    background: #040407;
}

.swatch-inner--pink {
    background: #FEE1F8;
}

.swatch-inner--red {
    background: #F23640;
}

.swatch-inner--gray {
    background: #b2b2b2;
}

.swatch-inner {
	height: 18px;
    width: 18px;
    border-radius: 15px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.text-hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%
}

.container:hover .text-hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 14px;
  padding: 16px 14px;
  font-weight: bold;
  border: 2px solid blue;
}
